In [23]:
import pandas as pd

df = pd.read_csv('twitter_dataset.csv', names=('Date', 'S/A'))
df = df.set_index('Date')
df

             S/A
Date
2017-01-01  0.68
2017-01-02  0.76
2017-01-03  0.69
2017-01-04  0.66
2017-01-05  0.64
...          ...
2019-12-27  0.88
2019-12-28  0.69
2019-12-29  0.89
2019-12-30  0.80
2019-12-31  0.71

[1095 rows x 1 columns]